@import "tailwindcss";
@import "pretendard/dist/web/variable/pretendardvariable.css";

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #040721;
}

/* 전체 스크롤바 폭 */
::-webkit-scrollbar {
  width: 8px; /* 세로 스크롤바 */
  height: 8px; /* 가로 스크롤바 */
}

/* 트랙 (스크롤바 뒤쪽 영역) */
::-webkit-scrollbar-track {
  background: transparent; /* 투명 배경 */
}

/* 막대 (움직이는 부분) */
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3); /* 흰색 반투명 */
  border-radius: 9999px; /* 둥글게 */
}

/* hover 시 */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.shimmer-text {
  background: linear-gradient(
    40deg,
    rgba(170, 202, 255, 0.4) 25%,
    rgba(194, 133, 252, 0.8) 50%,
    rgba(111, 163, 248, 0.4) 75%
  );
  background-size: 200% 100%;
  animation: shimmer 3s infinite ease-in-out;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
